In [5]:
import pandas as pd
# 显示所有列
pd.set_option('display.max_columns', None)
# 显示所有行
pd.set_option('display.max_rows', None)
# 设置value的显示长度为100，默认为50
pd.set_option('max_colwidth', 100)
# 设置1000列的时候才换行
pd.set_option('display.width', 1000)


train = pd.read_csv('D:\\Practice\\Kaggle\\titanic\\data\\train.csv')
print(train.head(10))

   PassengerId  Survived  Pclass                                                 Name     Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0            1         0       3                              Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1      0          PC 17599  71.2833   C85        C
2            3         1       3                               Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3            4         1       1         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.1000  C123        S
4            5         0       3                             Allen, Mr. William Henry    male  35.0      0      0            373450   8.0500   NaN        S
5            6         0       3                                     Moran, Mr. James    male   NaN      0      0            330877   8.4583   NaN        Q
6            7         0       1                              McCarthy, Mr. Timothy J    male  54.0      0      0             17463  51.8625   E46        S
7            8         0       3                       Palsson, Master. Gosta Leonard    male   2.0      3      1            349909  21.0750   NaN        S
8            9         1       3    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0      2            347742  11.1333   NaN        S
9           10         1       2                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1      0            237736  30.0708   NaN        C

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
train.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PassengerId</th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
      <th>Fare</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>891.000000</td>
      <td>891.000000</td>
      <td>891.000000</td>
      <td>714.000000</td>
      <td>891.000000</td>
      <td>891.000000</td>
      <td>891.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>446.000000</td>
      <td>0.383838</td>
      <td>2.308642</td>
      <td>29.699118</td>
      <td>0.523008</td>
      <td>0.381594</td>
      <td>32.204208</td>
    </tr>
    <tr>
      <th>std</th>
      <td>257.353842</td>
      <td>0.486592</td>
      <td>0.836071</td>
      <td>14.526497</td>
      <td>1.102743</td>
      <td>0.806057</td>
      <td>49.693429</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>0.420000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>223.500000</td>
      <td>0.000000</td>
      <td>2.000000</td>
      <td>20.125000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>7.910400</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>446.000000</td>
      <td>0.000000</td>
      <td>3.000000</td>
      <td>28.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>14.454200</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>668.500000</td>
      <td>1.000000</td>
      <td>3.000000</td>
      <td>38.000000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>31.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>891.000000</td>
      <td>1.000000</td>
      <td>3.000000</td>
      <td>80.000000</td>
      <td>8.000000</td>
      <td>6.000000</td>
      <td>512.329200</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
import matplotlib.pyplot as plt

# 设置中文显示问题
plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus']=False  # 用来正常显示负号

# 显示所有列
pd.set_option('display.max_columns', None)
# 显示所有行
pd.set_option('display.max_rows', None)
# 设置value的显示长度为100，默认为50
pd.set_option('max_colwidth', 100)
# 设置1000列的时候才换行
pd.set_option('display.width', 1000)

fig = plt.figure()
fig.set(alpha = 0.5)

# 在一张大图里分列几个小图
plt.subplot2grid((2,3),(0,0))

train.Survived.value_counts().plot(kind = 'bar') # 柱状图
plt.title(u"获救情况1为获救")
plt.ylabel(u'人数')

plt.subplot2grid((2,3),(0,1))
train.Pclass.value_counts().plot(kind="bar")
plt.ylabel(u"人数")
plt.title(u"乘客等级分布")

plt.subplot2grid((2,3),(0,2))
plt.scatter(train.Survived, train.Age)
plt.ylabel(u"年龄")                         # 设定纵坐标名称
plt.grid(b=True, which='major', axis='y')
plt.title(u"按年龄看获救分布 (1为获救)")


plt.subplot2grid((2,3),(1,0), colspan=2)
train.Age[train.Pclass == 1].plot(kind='kde')
train.Age[train.Pclass == 2].plot(kind='kde')
train.Age[train.Pclass == 3].plot(kind='kde')
plt.xlabel(u"年龄")# plots an axis lable
plt.ylabel(u"密度")
plt.title(u"各等级的乘客年龄分布")
plt.legend((u'头等舱', u'2等舱',u'3等舱'),loc='best') # sets our legend for our graph.


plt.subplot2grid((2,3),(1,2))
train.Embarked.value_counts().plot(kind='bar')
plt.title(u"各登船口岸上船人数")
plt.ylabel(u"人数")

plt.show()

In [9]:
# 舱位等级与获救情况分析

Survived_0 = train.Pclass[train.Survived == 0].value_counts()
Survived_1 = train.Pclass[train.Survived == 1].value_counts()
df=pd.DataFrame({u'获救':Survived_1, u'未获救':Survived_0})
df.plot(kind='bar', stacked=True)
plt.title(u"各乘客等级的获救情况")
plt.xlabel(u"乘客等级")
plt.ylabel(u"人数")
plt.show()

In [11]:
# 性别与获救情况分析

Survived_m = train.Survived[train.Sex =='male'].value_counts()
Survived_f = train.Survived[train.Sex =='female'].value_counts()

df = pd.DataFrame({u'男性':Survived_m,u'女性':Survived_f})
df.plot(kind='bar',stacked =True)
plt.title(u'按性别看获救情况')
plt.xlabel(u'性别')
plt.ylabel(u'人数')
plt.show()

In [12]:
# 舱位等级和性别对获救影响的详细分析

fig = plt.figure()
fig.set(alpha = 0.5)

fig=plt.figure()
fig.set(alpha=0.65) # 设置图像透明度，无所谓
plt.title(u"根据舱等级和性别的获救情况")

ax1=fig.add_subplot(141)
train.Survived[train.Sex == 'female'][train.Pclass != 3].value_counts().plot(kind='bar', label="female highclass", color='#FA2479')
ax1.set_xticklabels([u"获救", u"未获救"], rotation=0)
ax1.legend([u"女性/高级舱"], loc='best')

ax2=fig.add_subplot(142, sharey=ax1)
train.Survived[train.Sex == 'female'][train.Pclass == 3].value_counts().plot(kind='bar', label='female, low class', color='pink')
ax2.set_xticklabels([u"未获救", u"获救"], rotation=0)
plt.legend([u"女性/低级舱"], loc='best')

ax3=fig.add_subplot(143, sharey=ax1)
train.Survived[train.Sex == 'male'][train.Pclass != 3].value_counts().plot(kind='bar', label='male, high class',color='lightblue')
ax3.set_xticklabels([u"未获救", u"获救"], rotation=0)
plt.legend([u"男性/高级舱"], loc='best')

ax4=fig.add_subplot(144, sharey=ax1)
train.Survived[train.Sex == 'male'][train.Pclass == 3].value_counts().plot(kind='bar', label='male low class', color='steelblue')
ax4.set_xticklabels([u"未获救", u"获救"], rotation=0)
plt.legend([u"男性/低级舱"], loc='best')

plt.show()

In [13]:
# 登船港口与获救情况分析

fig = plt.figure()
fig.set(alpha=0.2)  # 设定图表颜色alpha参数

Survived_0 = train.Embarked[train.Survived == 0].value_counts()
Survived_1 = train.Embarked[train.Survived == 1].value_counts()
df=pd.DataFrame({u'获救':Survived_1, u'未获救':Survived_0})
df.plot(kind='bar', stacked=True)
plt.title(u"各登录港口乘客的获救情况")
plt.xlabel(u"登录港口") 
plt.ylabel(u"人数") 

plt.show()

In [14]:
# 堂兄弟妹个数与获救情况分析

Survived_0 = train.SibSp[train.Survived == 0].value_counts()
Survived_1 = train.SibSp[train.Survived == 1].value_counts()
df=pd.DataFrame({u'获救':Survived_1, u'未获救':Survived_0})
df.plot(kind='bar', stacked=True)
plt.title(u"堂兄弟妹个数与乘客的获救情况")
plt.xlabel(u"堂兄弟妹个数")
plt.ylabel(u"人数") 

plt.show()

In [15]:
# 孩子/父母有几人，对获救的影响

Survived_0 = train.Parch[train.Survived == 0].value_counts()
Survived_1 = train.Parch[train.Survived == 1].value_counts()
df=pd.DataFrame({u'获救':Survived_1, u'未获救':Survived_0})
df.plot(kind='bar', stacked=True)
plt.title(u"父母与小孩个数与乘客的获救情况")
plt.xlabel(u"父母与小孩个数")
plt.ylabel(u"人数") 

plt.show()

In [16]:
fig = plt.figure()
fig.set(alpha=0.2)  # 设定图表颜色alpha参数

Survived_cabin = train.Survived[pd.notnull(train.Cabin)].value_counts()
Survived_nocabin = train.Survived[pd.isnull(train.Cabin)].value_counts()
df=pd.DataFrame({u'有':Survived_cabin, u'无':Survived_nocabin}).transpose()
df.plot(kind='bar', stacked=True)
plt.title(u"按Cabin有无看获救情况")
plt.xlabel(u"Cabin有无") 
plt.ylabel(u"人数")
plt.show()

In [18]:
# 使用随机森林拟合缺失数据
from sklearn.ensemble import RandomForestRegressor
import pandas as pd

train = pd.read_csv('D:\\Practice\\Kaggle\\titanic\\data\\train.csv')
# 显示所有列
pd.set_option('display.max_columns', None)
# 显示所有行
pd.set_option('display.max_rows', None)
# 设置value的显示长度为100，默认为50
pd.set_option('max_colwidth', 100)
# 设置1000列的时候才换行
pd.set_option('display.width', 1000)

def set_missing_ages(df):

    # 把已有的数值型特征取出来丢进RandomForgestRegressor
    age_df = df[['Age','Fare','Parch','SibSp','Pclass']]
    known_age = age_df[age_df.Age.notnull()].values
    unknown_age = age_df[age_df.Age.isnull()].values

    y = known_age[:,0]
    x = known_age[:,1:]

    rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)
    rfr.fit(x, y)

    # 用得到的模型来进行未知年龄结果预测
    predictedAges = rfr.predict(unknown_age[:,1::])
    df.loc[(df.Age.isnull()),'Age'] = predictedAges

    return df


def set_Cabin_type(df):

    df.loc[(df.Cabin.notnull()),'Cabin'] = 'Yes'
    df.loc[(df.Cabin.isnull()),'Cabin'] = 'No'
    return df

train = set_missing_ages(train)
print(train.head(10))
train_over = set_Cabin_type(train)
print(train_over.head(10))

   PassengerId  Survived  Pclass                                                 Name     Sex        Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0            1         0       3                              Braund, Mr. Owen Harris    male  22.000000      1      0         A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.000000      1      0          PC 17599  71.2833   C85        C
2            3         1       3                               Heikkinen, Miss. Laina  female  26.000000      0      0  STON/O2. 3101282   7.9250   NaN        S
3            4         1       1         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000      1      0            113803  53.1000  C123        S
4            5         0       3                             Allen, Mr. William Henry    male  35.000000      0      0            373450   8.0500   NaN        S
5            6         0       3                                     Moran, Mr. James    male  23.838953      0      0            330877   8.4583   NaN        Q
6            7         0       1                              McCarthy, Mr. Timothy J    male  54.000000      0      0             17463  51.8625   E46        S
7            8         0       3                       Palsson, Master. Gosta Leonard    male   2.000000      3      1            349909  21.0750   NaN        S
8            9         1       3    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.000000      0      2            347742  11.1333   NaN        S
9           10         1       2                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.000000      1      0            237736  30.0708   NaN        C
   PassengerId  Survived  Pclass                                                 Name     Sex        Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0            1         0       3                              Braund, Mr. Owen Harris    male  22.000000      1      0         A/5 21171   7.2500    No        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.000000      1      0          PC 17599  71.2833   Yes        C
2            3         1       3                               Heikkinen, Miss. Laina  female  26.000000      0      0  STON/O2. 3101282   7.9250    No        S
3            4         1       1         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.000000      1      0            113803  53.1000   Yes        S
4            5         0       3                             Allen, Mr. William Henry    male  35.000000      0      0            373450   8.0500    No        S
5            6         0       3                                     Moran, Mr. James    male  23.838953      0      0            330877   8.4583    No        Q
6            7         0       1                              McCarthy, Mr. Timothy J    male  54.000000      0      0             17463  51.8625   Yes        S
7            8         0       3                       Palsson, Master. Gosta Leonard    male   2.000000      3      1            349909  21.0750    No        S
8            9         1       3    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.000000      0      2            347742  11.1333    No        S
9           10         1       2                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.000000      1      0            237736  30.0708    No        C

In [19]:
# 使用随机森林拟合缺失数据
from sklearn.ensemble import RandomForestRegressor
import pandas as pd

train = pd.read_csv('D:\\Practice\\Kaggle\\titanic\\data\\train.csv')
# 显示所有列
pd.set_option('display.max_columns', None)
# 显示所有行
pd.set_option('display.max_rows', None)
# 设置value的显示长度为100，默认为50
pd.set_option('max_colwidth', 100)
# 设置1000列的时候才换行
pd.set_option('display.width', 1000)

def set_missing_ages(df):

    # 把已有的数值型特征取出来丢进RandomForgestRegressor
    age_df = df[['Age','Fare','Parch','SibSp','Pclass']]
    known_age = age_df[age_df.Age.notnull()].values
    unknown_age = age_df[age_df.Age.isnull()].values

    y = known_age[:,0]
    x = known_age[:,1:]

    rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)
    rfr.fit(x, y)

    # 用得到的模型来进行未知年龄结果预测
    predictedAges = rfr.predict(unknown_age[:,1::])
    df.loc[(df.Age.isnull()),'Age'] = predictedAges

    return df


def set_Cabin_type(df):

    df.loc[(df.Cabin.notnull()),'Cabin'] = 'Yes'
    df.loc[(df.Cabin.isnull()),'Cabin'] = 'No'
    return df
train = set_missing_ages(train)
train_over = set_Cabin_type(train)
dummies_Cabin = pd.get_dummies(train_over['Cabin'], prefix= 'Cabin')

dummies_Embarked = pd.get_dummies(train_over['Embarked'], prefix= 'Embarked')

dummies_Sex = pd.get_dummies(train_over['Sex'], prefix= 'Sex')

dummies_Pclass = pd.get_dummies(train_over['Pclass'], prefix= 'Pclass')

df = pd.concat([train_over, dummies_Cabin, dummies_Embarked, dummies_Sex, dummies_Pclass], axis=1)
df.drop(['Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)
print(df.head(10))

   PassengerId  Survived        Age  SibSp  Parch     Fare  Cabin_No  Cabin_Yes  Embarked_C  Embarked_Q  Embarked_S  Sex_female  Sex_male  Pclass_1  Pclass_2  Pclass_3
0            1         0  22.000000      1      0   7.2500         1          0           0           0           1           0         1         0         0         1
1            2         1  38.000000      1      0  71.2833         0          1           1           0           0           1         0         1         0         0
2            3         1  26.000000      0      0   7.9250         1          0           0           0           1           1         0         0         0         1
3            4         1  35.000000      1      0  53.1000         0          1           0           0           1           1         0         1         0         0
4            5         0  35.000000      0      0   8.0500         1          0           0           0           1           0         1         0         0         1
5            6         0  23.838953      0      0   8.4583         1          0           0           1           0           0         1         0         0         1
6            7         0  54.000000      0      0  51.8625         0          1           0           0           1           0         1         1         0         0
7            8         0   2.000000      3      1  21.0750         1          0           0           0           1           0         1         0         0         1
8            9         1  27.000000      0      2  11.1333         1          0           0           0           1           1         0         0         0         1
9           10         1  14.000000      1      0  30.0708         1          0           1           0           0           1         0         0         1         0

In [21]:
from sklearn import preprocessing

scaler = preprocessing.StandardScaler()
df['Age_scaled'] = scaler.fit_transform(df[['Age']])
df['Fare_scaled'] = scaler.fit_transform(df[['Fare']])

print(df.head(10))

   PassengerId  Survived        Age  SibSp  Parch     Fare  Cabin_No  Cabin_Yes  Embarked_C  Embarked_Q  Embarked_S  Sex_female  Sex_male  Pclass_1  Pclass_2  Pclass_3  Age_scaled  Fare_scaled
0            1         0  22.000000      1      0   7.2500         1          0           0           0           1           0         1         0         0         1   -0.561377    -0.502445
1            2         1  38.000000      1      0  71.2833         0          1           1           0           0           1         0         1         0         0    0.613173     0.786845
2            3         1  26.000000      0      0   7.9250         1          0           0           0           1           1         0         0         0         1   -0.267740    -0.488854
3            4         1  35.000000      1      0  53.1000         0          1           0           0           1           1         0         1         0         0    0.392945     0.420730
4            5         0  35.000000      0      0   8.0500         1          0           0           0           1           0         1         0         0         1    0.392945    -0.486337
5            6         0  23.838953      0      0   8.4583         1          0           0           1           0           0         1         0         0         1   -0.426381    -0.478116
6            7         0  54.000000      0      0  51.8625         0          1           0           0           1           0         1         1         0         0    1.787723     0.395814
7            8         0   2.000000      3      1  21.0750         1          0           0           0           1           0         1         0         0         1   -2.029565    -0.224083
8            9         1  27.000000      0      2  11.1333         1          0           0           0           1           1         0         0         0         1   -0.194330    -0.424256
9           10         1  14.000000      1      0  30.0708         1          0           1           0           0           1         0         0         1         0   -1.148652    -0.042956

In [22]:
from sklearn import linear_model

# 用正则取出我们要的属性值
train_df = df.filter(regex='Survived|Age_.*|SibSp|Parch|Fare_.*|Cabin_.*|Embarked_.*|Sex_.*|Pclass_.*')
train_np = train_df.values

# y即Survival结果
y = train_np[:, 0]

# X即特征属性值
X = train_np[:, 1:]

# fit到RandomForestRegressor之中
clf = linear_model.LogisticRegression(C=1.0, penalty='l1', tol=1e-6,solver='liblinear')
clf.fit(X, y)

print(clf)

LogisticRegression(penalty='l1', solver='liblinear', tol=1e-06)

In [25]:
test = pd.read_csv('D:\\Practice\\Kaggle\\titanic\\data\\test.csv')
test.loc[ (test.Fare.isnull()), 'Fare'] = 0
test = set_missing_ages(test)
test_over = set_Cabin_type(test)
print(test_over.head())
print('\n')

dummies_Cabin = pd.get_dummies(test_over['Cabin'], prefix= 'Cabin')
dummies_Embarked = pd.get_dummies(test_over['Embarked'], prefix= 'Embarked')
dummies_Sex = pd.get_dummies(test_over['Sex'], prefix= 'Sex')
dummies_Pclass = pd.get_dummies(test_over['Pclass'], prefix= 'Pclass')
df = pd.concat([test_over, dummies_Cabin, dummies_Embarked, dummies_Sex, dummies_Pclass], axis=1)
df.drop(['Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], axis=1, inplace=True)

scaler = preprocessing.StandardScaler()
df['Age_scaled'] = scaler.fit_transform(df[['Age']])
df['Fare_scaled'] = scaler.fit_transform(df[['Fare']])

print(df.head())

   PassengerId  Pclass                                          Name     Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0          892       3                              Kelly, Mr. James    male  34.5      0      0   330911   7.8292    No        Q
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0   363272   7.0000    No        S
2          894       2                     Myles, Mr. Thomas Francis    male  62.0      0      0   240276   9.6875    No        Q
3          895       3                              Wirz, Mr. Albert    male  27.0      0      0   315154   8.6625    No        S
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1  3101298  12.2875    No        S


   PassengerId   Age  SibSp  Parch     Fare  Cabin_No  Cabin_Yes  Embarked_C  Embarked_Q  Embarked_S  Sex_female  Sex_male  Pclass_1  Pclass_2  Pclass_3  Age_scaled  Fare_scaled
0          892  34.5      0      0   7.8292         1          0           0           1           0           0         1         0         0         1    0.367102    -0.496637
1          893  47.0      1      0   7.0000         1          0           0           0           1           1         0         0         0         1    1.331237    -0.511497
2          894  62.0      0      0   9.6875         1          0           0           1           0           0         1         0         1         0    2.488198    -0.463335
3          895  27.0      0      0   8.6625         1          0           0           0           1           0         1         0         0         1   -0.211379    -0.481704
4          896  22.0      1      1  12.2875         1          0           0           0           1           1         0         0         0         1   -0.597033    -0.416740